<div class="demo-wrap">  
    <div class="demo-header">
      <h1>
      </h1>
    </div>
  
    <div class="container mt-5">
        <div class="row">
          <div class="col-12">
            <h1 class="display-4 text-center text-primary">
                Find Your Perfect Fit!            </h1>
            <p class="lead text-center text-secondary">
                Choose from our flexible subscription packages tailored to your real estate needs.</p>
            
          </div>
        </div>
    <!-- PRICING PLANS -->
    <section class="pricing-plans">
      <!-- Pricing Tables -->
      <div class="pricing-tables">
        <!-- Plan Features -->
      
        <!-- "Basic" Plan -->
        <div class="pricing-plan"  *ngFor="let plan of packages">
          <h2 class="plan-title">{{plan.name}}</h2>

          <div class="plan-cost">
            <p class="plan-price">AED {{plan.price}}</p>
            <span>|</span> 
          </div>
          <ul class="plan-features">
            <li>
              <span *ngIf="plan.numberOfListings <= 5">Limited to </span>
              {{ plan.numberOfListings }} Listings
            </li>            
            <li>Listing Management</li>
            <li>Agent Management</li>
            <li><span>Priority placement</span></li>
            <li><span>Advanced features</span></li>
            <li>Premium Badge</li>
          </ul>
          <a style="cursor: pointer;" class="btn-plan" (click)="validateAndProceedToPayment(plan.paymentLink)">Select Plan</a>
        </div>
        <!-- "Premium" Plan -->
        <!-- <div class="pricing-plan featured-plan">
          <div class="featured-ribbon">Best Value</div>
          <h2 class="plan-title">Basic</h2>
          <div class="plan-cost">
            <p class="plan-price">AED 350</p>
            <span>/</span> 
            <p class="plan-type">Monthly</p>
          </div>
          <ul class="plan-features">
            <li>20 Listings</li>
            <li>Listing Management</li>
            <li>Agent Management</li>
            <li>Priority placement (Higher Visibility in Search Results)
            </li>
            <li><span>Advanced features</span></li>
          </ul>
          <a style="cursor: pointer;" class="btn-plan cta" (click)="validateAndProceedToPayment('https://buy.stripe.com/test_dR68xvaFd0NraEE9AA')">Select Plan</a>
        </div> -->
        <!-- "Ultmate" Plan -->
        <!-- <div class="pricing-plan">
          <h2 class="plan-title">Premium </h2>
          <div class="plan-cost">
            <p class="plan-price">AED 700</p>
            <span>/</span> 
            <p class="plan-type">Monthly</p>
          </div>
          <ul class="plan-features">
            <li>50 Listings</li>
            <li>Listing Management</li>

            <li>Agent Management</li>

            <li>Priority Placement</li>
            <li>Advanced features{{"("}}Property views, Lead contact and More!{{")"}}</li>
            <li>Premium Badge</li>
          </ul>
          <a style="cursor: pointer;" class="btn-plan" (click)="validateAndProceedToPayment('https://buy.stripe.com/test_6oEeVT4gPgMpbII003')">Select Plan</a>
        </div> -->
      </div>
    </section>
  </div>


  