
<!-- filtering -->
<form [formGroup]="propertyForm">

<div class="container-fluid bg-primary mb-5 wow fadeIn" data-wow-delay="0.1s" style="padding: 35px;">
  <div class="container">
    <div class="row g-2">
      <div class="col-md-12">
        <div class="row g-2 ">

          <div class="col-md-3">
            <input type="text" #locationField
            formControlName="locationField"

            class="form-control border-0 " placeholder="Search Locations">
          </div>
          <div class="col-md-2">
            <select class="form-select border-0 py-2" formControlName="selectedListingType"
            >
              <option selected value=-1>Listing Type</option>
              <option  *ngFor="let item of ListingType" [value]="item.id">{{item.name}}</option>
            </select>
          </div>
          <div class="col-md-2">
            <select class="form-select border-0 py-2" formControlName="selectedPropertyType">
              <option selected value=-1>Property Type</option>
              <option *ngFor="let item of propertyTypes" [value]="item.id">{{item.name}}</option>
            </select>
          </div>
          
        
        
<div class="col-md-2 position-relative">
  <button (click)="startWithBathnBed()" class="btn btn-secondary w-100 dropdown-toggle py-2" type="button" id="bedsBathsDropdown" data-bs-toggle="dropdown" aria-expanded="false"> Beds & Baths </button>
  <ul class="dropdown-menu p-3" [class.keep-bathNbed-open]="keepBathNBedOpen"
  [class.keep-bathNbed-close]="!keepBathNBedOpen" aria-labelledby="bedsBathsDropdown" data-bs-auto-close="outside">    <li class="mb-2">
      <div class="d-flex flex-wrap">
        <mat-form-field class="form-field w-100">
          <mat-label>Bedrooms</mat-label>
          <mat-select multiple formControlName="selectedBedrooms">
            <mat-option *ngFor="let num of bathAndBeds" [value]="num">    {{ num === 7 ? '7+' : num }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </li>
    <li>
      <div class="d-flex flex-wrap">
       
        <mat-form-field class="form-field w-100">
          <mat-label>Bathrooms</mat-label>
          <mat-select multiple formControlName="selectedBathrooms">
            <mat-option *ngFor="let num of bathAndBeds" [value]="num">    {{ num === 7 ? '7+' : num }}
            </mat-option>
          </mat-select>
        </mat-form-field>      </div>
    </li>
    <button class="btn btn-primary" (click)="doneWithBathnBed()">Done</button>

  </ul>
</div>


<div class="col-md-1 position-relative">
  <button (click)="startWithPrice()"  class="btn btn-secondary w-100 dropdown-toggle py-2" type="button" id="priceDropdown" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
    Price
  </button>
  <ul class="dropdown-menu p-3 keep-open"  [class.keep-open]="keepOpen"
  [class.keep-close]="!keepOpen" aria-labelledby="priceDropdown">
    <li class="mb-2">
      <mat-form-field class="form-field w-100">
        <mat-label>Min Price</mat-label>
        <mat-select formControlName="selectedMinPrice" [(ngModel)]="selectedMinPrice" (selectionChange)="onMinPriceChange(selectedMinPrice)">
          <mat-option *ngFor="let priceOption of filteredPriceOptionsmin" [value]="priceOption">
            {{ priceOption }}
          </mat-option>
        </mat-select>
      </mat-form-field>    </li>
    <li>
      <mat-form-field class="form-field w-100">
        <mat-label>Max Price</mat-label>
    
          <mat-select formControlName="selectedMaxPrice" [(ngModel)]="selectedMaxPrice" (selectionChange)="onMaxPriceChange(selectedMaxPrice)">
            <mat-option *ngFor="let priceOption of filteredPriceOptionsmax"  [value]="priceOption">
              {{ priceOption }}
            </mat-option>
          </mat-select>      
      </mat-form-field>    </li>
      <button class="btn btn-primary" (click)="doneWithprice()">Done</button>
  </ul>
</div>
          <div class="col-md-1">
            <button class="btn btn-secondary w-100 py-2" (click)="openMoreFiltersPopup()">More</button>
          </div>
          <div class="col-md-1">
            <button class="btn btn-dark border-0 w-100 py-2" (click)="onSubmit()">Search</button>
          </div>
        </div>
      </div>
   
     
    </div>
  </div>
</div> 
</form>
<!-- End of filtering -->
<!-- Property List Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-0 gx-5 align-items-end">
      <div class="col-lg-6">
        <div
          class="text-start mx-auto mb-5 wow slideInLeft"
          data-wow-delay="0.1s"
        >
          <h1 class="mb-3">{{ listingType | listingTypeHeading }}</h1>
          <p>
            Eirmod sed ipsum dolor sit rebum labore magna erat. Tempor ut dolore
            lorem kasd vero ipsum sit eirmod sit diam justo sed rebum.
          </p>
        </div>
      </div>
      <div
        class="col-lg-6 text-start text-lg-end wow slideInRight"
        data-wow-delay="0.1s"
      >
        <ul class="nav nav-pills d-inline-flex justify-content-end mb-5">
          <li class="nav-item me-2">
            <a
              class="btn btn-outline-primary active"
              data-bs-toggle="pill"
              href="#tab-1"
              >Featured</a
            >
          </li>
          <li class="nav-item me-2">
            <a
              class="btn btn-outline-primary"
              data-bs-toggle="pill"
              href="#tab-2"
              >For Sell</a
            >
          </li>
          <li class="nav-item me-0">
            <a
              class="btn btn-outline-primary"
              data-bs-toggle="pill"
              href="#tab-3"
              >For Rent</a
            >
          </li>
        </ul>
      </div>
    </div>
  
    <div class="tab-content">
      <div id="tab-1" class="tab-pane fade show p-0 active">
        <div class="row g-4">
          <div *ngIf="properties.length===0">
            <h1 class="text-center">No Properties Found</h1>
          </div>
          <div
            class="col-lg-4 col-md-6 wow fadeInUp"
            *ngFor="let property of properties"
          >
            <div class="property-item rounded overflow-hidden">
              <div class="position-relative overflow-hidden">
                <a [routerLink]="['/property-detail', property.id]"
                  ><img
                    class="img-fluid"
                    [src]="property.primaryImageUrl"
                    alt=""
                /></a>
                <div
                  class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3"
                >
                  For {{ property.listingType }}
                </div>
                <div
                  class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3"
                >
                  {{ property.propertyType }}
                </div>
              </div>
              <div class="p-4 pb-0">
                <h5 class="text-primary mb-3">{{ property.price }} AED</h5>
                <a class="d-block h5 mb-2" href="">{{
                  property.propertyTitle
                }}</a>
                <p>
                  <i class="fa fa-map-marker-alt text-primary me-2"></i
                  >{{ property.location }}
                </p>
              </div>
              <div class="d-flex border-top">
                <small class="flex-fill text-center border-end py-2"
                  ><i class="fa fa-ruler-combined text-primary me-2"></i
                  >{{ property.size }} Sqft</small
                >
                <small class="flex-fill text-center border-end py-2"
                  ><i class="fa fa-bed text-primary me-2"></i
                  >{{ property.bedrooms }} Bed</small
                >
                <small class="flex-fill text-center py-2"
                  ><i class="fa fa-bath text-primary me-2"></i
                  >{{ property.bathrooms }} Bath</small
                >
              </div>
            </div>
          </div>

          <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
            <a class="btn btn-primary py-3 px-5" href=""
              >Browse More Property</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Property List End -->
