   <!-- Navbar Start -->
   <div class="container-fluid nav-bar bg-transparent">
    <nav class="navbar navbar-expand-lg bg-white navbar-light py-0 px-4">
        <a routerLink='/' routerLinkActive="router-link-active"  class="navbar-brand d-flex align-items-center text-center">
            <div class="icon p-2 me-2">
                <img class="img-fluid" src="../assets/img/icon-deal.png" alt="Icon" style="width: 30px; height: 30px;">
            </div>
            <h1 class="m-0 text-primary">Estahub</h1>
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto">
                <a routerLink="/properties-list/buy" class="nav-item nav-link">Buy</a>

                <a routerLink="/properties-list/rent" class="nav-item nav-link">Rent</a>

                <a routerLink="/properties-list/commercial" class="nav-item nav-link">Commercial</a>
               
        

            </div>
            <div class="nav-item m-1" *ngIf="accountService.user$| async as user">
                <ng-container *ngIf="user && user.jwt"> <!-- Assuming 'data' is where the decoded JWT token is stored -->
                    <ng-container *ngIf="isAgent(user)">
                        <a  class="btn btn-outline-primary nav-link nav-item" routerLink="list-property">List Property</a>
                    </ng-container>
                </ng-container>   
            </div>
  <!-- Admin Dashboard Button -->
  <div class="nav-item m-1" *ngIf="accountService.user$| async as user">
    <ng-container *ngIf="user && user.jwt"> <!-- Assuming 'data' is where the decoded JWT token is stored -->
        <ng-container *ngIf="isAdmin(user)">
            <a  class="btn btn-outline-primary nav-link nav-item" routerLink="admin-dashboard">Admin Dashboard</a>
        </ng-container>
    </ng-container>
</div>
<div class="nav-item mb-1" *ngIf="accountService.user$| async as user">
    <ng-container *ngIf="user && user.jwt"> <!-- Assuming 'data' is where the decoded JWT token is stored -->
        <ng-container *ngIf="isCompanyAdmin(user)">
            <a  class="btn btn-outline-primary nav-link nav-item" routerLink="company-dashboard">Company Dashboard</a>
        </ng-container>
    </ng-container>
</div>

<div class="nav-item dropdown m-1" *ngIf="(accountService.user$|async)===null">
    <a (click)="registerPopUp()" class="btn btn-outline-primary nav-link nav-item"  data-bs-toggle="dropdown">Sign in</a>

</div>
            <div class="nav-item dropdown m-1" *ngIf="(accountService.user$|async)===null">
                <a (click)="LoginPopUp()" class="btn btn-outline-primary nav-link nav-item"  data-bs-toggle="dropdown">Login</a>

          
                
                
            </div>
           
            <div class="nav-item dropdown" *ngIf="(accountService.user$|async) as user">
                <a (click)="Logout()" class="btn btn-outline-primary nav-link nav-item"  data-bs-toggle="dropdown" >Logout</a>

           
                    
                
            </div>

            <ng-container *ngIf="(accountService.user$ | async) as user">
                <app-notifications *ngIf="user"></app-notifications>
                <!-- <app-customer-portal-component></app-customer-portal-component> -->
              </ng-container>
              <div class="nav-item dropdown m-1" *ngIf="(accountService.user$ | async) as user">
                <a class="btn btn-outline-primary nav-link nav-item"  data-bs-toggle="dropdown">        <i class="fa fa-user"></i> <!-- FontAwesome user icon -->
                </a>

                <div class="dropdown-menu rounded-0 m-0 last-sub-menu">

                    <p class="dropdown-text text-center" >Welcome {{user.firstName|capitalize}} {{user.lastName|capitalize}}</p>
                                    <div class="dropdown-divider"></div>
                    <div class="arrow"></div>
                    <ng-container *ngIf="user && user.jwt"> <!-- Assuming 'data' is where the decoded JWT token is stored -->
                        <ng-container *ngIf="isAgent(user)">
                            <p><a routerLink='listed-properties'>Listed properties(0)</a></p>
                            <div class="dropdown-divider"></div>

                        </ng-container>
                    </ng-container>  
                    <p>Contacted properties(0)</p>
                    <div class="dropdown-divider"></div>
                    <p>Saved properties(0)</p>
                    <div class="dropdown-divider"></div>
                    <p>Saved searches(0)</p>
                   
                    </div>
                
                
            </div>
        </div>
    </nav>
</div>
<!-- Navbar End -->
