<div class="sidebar">
  <a routerLink='/company-dashboard' routerLinkActive="active"  [routerLinkActiveOptions]="{ exact: true }">Dashboard</a>

    <a routerLink='/company-dashboard/company-details' routerLinkActive="active" >About Company</a>
    <div class="dropdown">
      <a class="dropbtn" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }" routerLink='/company-dashboard/agents'>Agents</a>

      <div class="dropdown-content">
        <a routerLink='agents/verified-agents' >Verified Agents</a>
        <a routerLink='agents/unverified-agents'>Unverified Agents</a>
      </div>
    </div>
    <div class="dropdown">
      <a class="dropbtn" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }" routerLink='/company-dashboard/properties'>Properties</a>

      <div class="dropdown-content">
        <a routerLink='properties/verified-properties'>Verified Properties</a>
        <a routerLink='properties/unverified-properties'>Unverified Properties</a>
      </div>
    </div>
    <app-customer-portal-component></app-customer-portal-component>
    
  </div>
  