/* General Styles */
.container-xxl {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

/* Image Gallery Styles */
.gallery-img {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.gallery-img img {
    transition: transform 0.5s ease-in-out;
    display: block;
    width: 100%;
    height: auto;
}

.gallery-img:hover img {
    transform: scale(1.1);
}

.gallery-img:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.primary-img {
    height: auto; /* Ensures primary image has a similar height */
}

/* WOW.js Animations */
.wow {
    visibility: hidden;
}
.wow.fadeIn {
    animation-name: fadeIn;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Add custom styles for the About section */
.about-img {
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}


/* property-detail.component.scss */

.modal.show {
    display: block;
  }
  .modal-dialog {
    max-width: 1000px;
  }
  .modal-body {
    text-align: center;
  }

  .primary-img {
    border-radius: 10px;
}

.gallery-img img {
    border-radius: 10px;
}

.property-details p {
    font-size: 16px;
    margin-bottom: 10px;
}

.amenities li, .nearby-facilities li {
    font-size: 16px;
    margin-bottom: 5px;
}

.agent-card {
    background-color: #f8f9fa;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.agent-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.company-logo {
    width: 100px;
}

.card-title {
    font-size: 20px;
    font-weight: 600;
}

.card-text {
    font-size: 16px;
}

.rounded-circle-small {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.btn-width {
    min-width: 90px; /* Adjust width as needed */
}
.table {
    margin-bottom: 1rem; /* Adds space below the table */
}

.amenities, .facilities {
    border: 1px solid #e0e0e0; /* Optional: Adds a border around each section */
    padding: 1rem;
}

.amenities h4, .facilities h4 {
    margin-bottom: 0.5rem;
}

.amenities ul, .facilities ul {
    list-style-type: none;
    padding: 0;
}

.amenities li, .facilities li {
    margin-bottom: 0.5rem;
}

@media (max-width: 992px) {
    .col-lg-5 {
        width: 100%; /* Ensure full width on smaller screens */
        margin-bottom: 1rem; /* Adds space between sections on smaller screens */
    }
}
