<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="about-img position-relative overflow-hidden p-5 pe-0">
                    <img class="img-fluid w-100 primary-img" [src]="primaryImageUrl">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <div  class="row g-3">
                    <div class="col-6" *ngFor="let imageUrl of otherImageUrls">
                        <div class="gallery-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" [src]="imageUrl" alt="Image 1">
                        </div>
                    </div>
                 
                </div>
            </div>
        </div>
        <div class="row g-5 align-items-center">
            <div class="col-lg-12 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="mb-4">{{property.title}}</h1>
                <p class="mb-4">{{property.propertyDescription}}</p>
                <p><i class="fa fa-check text-primary me-3"></i>Tempor erat elitr rebum at clita</p>
                <p><i class="fa fa-check text-primary me-3"></i>Aliqu diam amet diam et eos</p>
                <p><i class="fa fa-check text-primary me-3"></i>Clita duo justo magna dolore erat amet</p>
                <a class="btn btn-primary py-3 px-5 mt-3" href="">Read More</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
