<!-- Search Start -->
<div class="container-fluid bg-primary mb-5 wow fadeIn" data-wow-delay="0.1s" style="padding: 35px;">
    <div class="container">
        <div class="row g-2 align-items-center">
            <div class="col-md-10">
                <div class="row g-2 align-items-center">
                    <div class="col-md-8 text-center">
                        <h2 class="py-3 px-5">Are you an agent looking to list properties under your company? We've got you covered.</h2>
                    </div>
                    <div class="col-md-4">
                        <button routerLink='agent-register' routerLinkActive="router-link-active"  class="btn btn-dark border-0 w-100 py-3">Register as an Agent</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Search End -->
