<div class="container py-5">
    
    <section class="content">
        <div class="container-fluid">
          <!-- Small boxes (Stat box) -->
          <div class="row">
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-info">
                <div class="inner">
                  <h3>{{statistics.propertiesListedCount}}</h3>
  
                  <p>Properties Listed</p>
                </div>
              
                <a href="#" class="small-box-footer"
                  >More info <i class="fas fa-arrow-circle-right"></i
                ></a>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-success">
                <div class="inner">
                  <h3>{{statistics.propertiesSold}}</h3>
  
                  <p>Properties Sold</p>
                </div>
              
                <a href="#" class="small-box-footer"
                  >More info <i class="fas fa-arrow-circle-right"></i
                ></a>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-warning">
                <div class="inner">
                  <h3>{{statistics.numberOfAgents}}</h3>
  
                  <p>Agents Registered</p>
                </div>
               
                <a href="#" class="small-box-footer"
                  >More info <i class="fas fa-arrow-circle-right"></i
                ></a>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-danger">
                <div class="inner">
                  <h3>{{statistics.subscriptionAmtPaid}} <sup style="font-size: 20px">AED</sup></h3>
  
                  <p>Subscription Amount Paid</p>
                </div>
             
                <a href="#" class="small-box-footer"
                  >More info <i class="fas fa-arrow-circle-right"></i
                ></a>
              </div>
            </div>
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                  <div class="inner">
                    <h3>{{statistics.propertyViews}}</h3>
    
                    <p>Total Property Views</p>
                  </div>
               
                  <a href="#" class="small-box-footer"
                    >More info <i class="fas fa-arrow-circle-right"></i
                  ></a>
                </div>
              </div>
              <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-warning">
                  <div class="inner">
                    <h3>{{statistics.totalRevenue}}<sup style="font-size: 20px">AED</sup></h3>
    
                    <p>Total Revenue</p>
                  </div>
               
                  <a href="#" class="small-box-footer"
                    >More info <i class="fas fa-arrow-circle-right"></i
                  ></a>
                </div>
              </div>
              <div class="col-md-6 small-box bg-info">

                <p class="text-center pt-3">
                  <strong>Number of Properties listed for this month</strong>
                </p>

              
                <!-- /.progress-group -->
                <div class="progress-group px-4">
                  Property listing used
                  <span class="float-right"><b>{{ statistics.propertiesUsed }}</b>/{{statistics.propertyLimit}}</span>
                  <div class="progress progress-sm">
                    <div class="progress-bar bg-warning" [style.width.%]="progressWidth"></div>
                  </div>
                </div>
                <!-- /.progress-group -->
              </div>
            <!-- ./col -->
          </div>
          <!-- /.row -->
          <!-- Main row -->
          <div class="row">
            <app-bar-chart></app-bar-chart>
            <!-- Left col -->
          
            <!-- right col -->
          </div>
          <!-- /.row (main row) -->
        </div>
        <!-- /.container-fluid -->
      </section>
</div>