<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Dashboard</h1>
        </div>
        <!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Dashboard v1</li>
          </ol>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-info">
            <div class="inner">
              <h3>{{statistics.totalRegisteredUsers}}</h3>
              <p>Total Registered Users</p>
            </div>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-success">
            <div class="inner">
              <h3>{{statistics.totalCompanies}}</h3>
              <p>Total Companies</p>
            </div>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-warning">
            <div class="inner">
              <h3>{{statistics.totalAgents}}</h3>
              <p>Total Agents</p>
            </div>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-danger">
            <div class="inner">
              <h3>{{statistics.totalSubscriptions}}</h3>
              <p>Total Subscriptions</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-info">
            <div class="inner">
              <h3>{{statistics.revenueToday}} <sup style="font-size: 20px">AED</sup></h3>
              <p>Today's Revenue</p>
            </div>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-success">
            <div class="inner">
              <h3>{{statistics.totalRevenue}} <sup style="font-size: 20px">AED</sup></h3>
              <p>Total Revenue</p>
            </div>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-warning">
            <div class="inner">
              <h3>{{statistics.cancelledSubscriptions}}</h3>
              <p>Cancelled Subscriptions</p>
            </div>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-danger">
            <div class="inner">
              <h3>{{statistics.totalProperties}}</h3>
              <p>Total Properties</p>
            </div>
          </div>
        </div>
        <!-- ./col -->
      </div>
      <!-- /.row -->
      <!-- Main row -->
      <div class="row">
        <!-- Left col -->
        <section class="col-lg-7 connectedSortable">
          <!-- Custom chart -->
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">
                <i class="fas fa-chart-pie mr-1"></i>
                Users
              </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div style="position: relative; height: 300px">
                <canvas
                  id="sales-chart-canvas"
                  height="300"
                  style="height: 300px"
                ></canvas>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </section>
        <section class="col-lg-5 connectedSortable">
          <!-- Revenue Chart -->
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">
                <i class="fas fa-chart-line mr-1"></i>
                Revenue Over Time
              </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div style="position: relative; height: 300px">
                <canvas
                  id="revenue-chart-canvas"
                  height="300"
                  style="height: 300px"
                ></canvas>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
        </section>
        <!-- /.row (main row) -->
       
      </div>
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="text-bold text-center">Top 10 Best Performing Companies</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th style="width: 10px">#</th>
                  <th>Company Name</th>
                  <th>Company Logo</th>
                  <th>Total Revenue</th>
                  <th>Total Listings</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let company of bestCompanies; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ company.name }}</td>
                  <td>
                    <img [src]="company.companyLogo" alt="{{ company.name }} Logo" style="width: 50px; height: 50px;" />
                </td>
                  <td>{{ company.revenue }} <sup style="font-size: 12px">AED</sup></td>
                  <td>{{ company.propertiesCount }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      
      <!-- /.container-fluid -->
    <!-- /.content -->
  </div>
