 <!-- Testimonial Start -->
 <div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="mb-3">Our Clients Say!</h1>
            <p>Eirmod sed ipsum dolor sit rebum labore magna erat. Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed rebum vero dolor duo.</p>
        </div>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
            <div class="testimonial-item bg-light rounded p-3" *ngFor="let testimonial of testimonials">
                <div class="bg-white border rounded p-4">
                    <h3>{{testimonial.title}}</h3>
                    <p>{{testimonial.message}}</p>
                    <div class="d-flex align-items-center mb-2">
                        <ng-container *ngFor="let star of getStars(testimonial.rating)">
                          <i class="bi bi-star-fill" style="color: gold;"></i>
                        </ng-container>
                      </div>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid flex-shrink-0 rounded" src="https://tse4.mm.bing.net/th?id=OIP.jixXH_Els1MXBRmKFdMQPAHaHa&pid=Api&P=0&h=220" style="width: 45px; height: 45px;">
                        <div class="ps-3">
                            <h6 class="fw-bold mb-1">{{testimonial.userName}}</h6>
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
    </div>
</div>
<!-- Testimonial End -->
