
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
.testimonial-form-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
  }
  
  mat-card {
    border-radius: 10px;
  }
  
  mat-card-header {
    align-items: center;
  }
  
  mat-card-title {
    font-weight: bold;
  }
  .star-rating-container {
    display: flex;
    align-items: center;
  }
  
  .star-rating-label {
    margin-right: 10px; /* Adjust spacing as needed */
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .mat-mdc-form-field {
    width: 100%;
  }
  